
@font-face {
    font-family: 'kihe';
    src: url('../fonts/kihe_icons/kihe.eot?5luudi');
    src: url('../fonts/kihe_icons/kihe.eot?5luudi#iefix') format('embedded-opentype'), url('../fonts/kihe_icons/kihe.ttf?5luudi') format('truetype'), url('../fonts/kihe_icons/kihe.woff?5luudi') format('woff'), url('../fonts/kihe_icons/kihe.svg?5luudi#kihe') format('svg');
    font-weight: normal;
    font-style: normal;
}


/** ICOMOON */

@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon/icomoon.eot?nv4a42');
    src: url('../fonts/icomoon/icomoon.eot?nv4a42#iefix') format('embedded-opentype'), url('../fonts/icomoon/icomoon.ttf?nv4a42') format('truetype'), url('../fonts/icomoon/icomoon.woff?nv4a42') format('woff'), url('../fonts/icomoon/icomoon.svg?nv4a42#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}



