%merriweather {
	font-family: $merriweather;
	font-weight:normal;
	font-style:normal;
}
%metaOTBook {
    font-family: 'metaOTBook';
    font-weight: normal;
}

%metaOTMedi {
    font-family: 'metaOTMedi';
    font-weight: normal;
    font-style: normal;
}

%metaOTBold {
    font-family: 'metaOTBold';
    font-weight: normal;
    font-style: normal;
}