$magenta: #232F84;
$blue: #334D94;
$lighter-blue: #3468AC;
$cyan: #00A5D9;
$gray: #DEDEDE;
$white: #FFFFFF;
$blue1: #004c72;
$blue2: #00619d;
$blue3: #0069aa;
$searchBlue: #0f6fab;
$searchBorderBlue: #4d96c4;
$lightBlue2: #bbddef;
$lightBlue1: #73a8c9;
$logoPurple: #212d84;
$grey: #cccccc;
$fileHoverGrey: #f9f5f5;
$lightGrey: #808080;
$darkGrey: #474747;
$hoverGrey: #f1f1f1;
$red: #ed174f;
$hoverRed: rgba(237, 23, 79, 0.70);
$yellow1: #ffc425;
$yellow2: #ffd051;
$white: #ffffff;
$secondaryBlue: #005888;
$lineBlue: #4b7f9a;
$borderBlue: #4b7f9a;
$bg: #f9f5f5;
$footer_bg: #404040;
$college_footer_bg: #D5D9DC;
$footer_copyright_color: #B3B3B3;
$borderGrey: #d7d8da;
$faintWhite: rgba(255, 255, 255, .2);

/**
 *
 * FONTS
 *
 */

$fontGrey: #606060;
$fontDarkGrey: #474747;

/**
  *
  * FORM ELEMENTS
  *
  */

$selectDisabledGrey: #ececec;

/**
 *
 * FONTS
 *
 */

$metaOT: 'metaOT', sans-serif;
$metaOTBook: 'metaOTBook';
$metaOTMedi: 'metaOTMedi';
$metaOTBold: 'metaOTBold';
$metaOTMediItalic: 'metaOTMediItalic';
$merriweather: 'Merriweather', sans-serif;
