.key-facts {
  .row {
    margin: -0.625rem 0 0.625rem -0.625rem;

    @include mq(medium) {
      margin: -0.9375rem 0 0.9375rem -0.9375rem;
    }

    & > div {
      padding: 0.625rem 0 0 0.625rem;

      @include mq(medium) {
        padding: 0.9375rem 0 0 0.9375rem;
      }
    }
  }

  .content {
    border: 1px solid transparent;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
    padding: 10px 12px;
    position: relative;

    @include mq(medium) {
      padding: 14px 16px;
    }

    .title {
      &::after {
        content: ' ';
        display: block;
        height: 50px;
      }

      @include mq(medium) {
        &::after {
          height: 80px;
        }
      }
    }

    .summary {
      bottom: 10px;
      // font-size: 16px;
      position: absolute;
      right: 12px;

      @include mq(medium) {
        bottom: 14px;
        // font-size: 18px;
        right: 16px;
      }
    }

    h3,
    p {
      color: inherit;
    }

    h3 {
      font-family: $metaOTBook;
      font-size: 16px;

      @include mq(medium) {
        font-size: 18px;
      }
    }

    p {
      font-family: $metaOTMedi;
      line-height: 1;

      &:last-child {
        margin-bottom: 0;
      }

      @include mq(small) {
        font-size: 88%;
      }
    }
  }
}
