.usps_blocks {
  margin-top: 60px;

  @include mq(medium) {
    margin-top: 100px;
    text-align: center;
  }

  &_title {
    font-family: $metaOTMedi;
    font-size: 22px;
    margin-bottom: 40px;

    @include mq(small) {
      padding-left: 10px;
      padding-right: 10px;
      text-align: center;
    }

    @include mq(medium) {
      font-size: 26px;
    }

    @include mq(large) {
      font-size: 36px;
      margin-bottom: 55px;
    }
  }

  .column {
    @include mq(small) {
      display: table;
    }

    &:nth-child(-n+2) {
      @include mq(medium-only) {
        margin-bottom: 25px;
      }
    }
  }

  .graphic {
    @include mq(small) {
      display: table-cell;
      padding-right: 15px;
      padding-top: 5px;
      vertical-align: top;
      width: 83px;
    }
  }

  .title {
    font-family: $metaOTBold;
    font-size: 18px;
    line-height: 1.3;

    @include mq(medium) {
      display: table;
      font-size: 20px;
      margin: 22px 0 16px;
      min-height: 52px;
      width: 100%;
    }

    @include mq(large) {
      font-size: 24px;
      min-height: 62px;
    }

    a {
      display: table-cell;
      vertical-align: middle;
    }
  }

  .medium-up-2 {
    @include mq(medium-only) {
      padding-left: 60px;
      padding-right: 60px;
    }
  }

  .summary {
    @include mq(small) {
      font-size: 15px;
      margin-bottom: 30px;
    }
  }
}
